@using PagedList.Core.Mvc;
@model PagedList.Core.IPagedList<NewVPP.Models.Product>
@{
    ViewData["Title"] = "Shop - " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}


<div class="col-lg-9 col-md-7">
    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                string url = $"/{item.ProductName}-{item.ProductId}.html";
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <a href="@url">
                                <img src="~/images/products/@item.Thumb" alt="Ảnh sản phẩm">
                            </a>
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="@url">@item.ProductName</a></h6>
                            <h5>@item.Price.Value.ToString("#,##0 VND")</h5>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div style="margin-left: 320px" aria-label="product__pagination">
        <ul class="pagination">
            <pager class="page-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="" asp-controller="Product" asp-action="Index"></pager>
        </ul>
    </div>
</div>